body {
    margin: 2px;
    padding: 5px;
    border: 0px;
    background-color: powderblue;
}

/* MENU LATERAL -> */

.display {
    display: flex;
    align-items: center;
    /*min-width: 100vh;*/
}

.perfil {
    margin-top: 0px;
    height: 100vh;
    /*min-height: 100vh; */
    /*min-width: 30vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border-radius: 3%;
}

/* .perfil a 
text-decoration: none;
*/

.foto {
    border-style:solid;
    border-width: 7px;
    border-color: powderblue;
    border-radius: 100%;
    display: flex;
    height: 300px;
}

.links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Lucida Console", Courier, monospace;
    font-size: 25px;   
}

/* PÁGINA EXIBIDA */

.nome {
    /*margin-left: 100px;/*
    /*margin-bottom: 300px;*/
    font-size: 6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    bottom: 10px;

}

.meusdados {
    /*margin-left: 100px;*/ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px; 
    text-align: center;
    position: relative;
    bottom: 400px;
}

.fundobio {
    background-color: gray;
    border-radius: 3%;
    max-width: 100px;
    width: 100px;
    height: 200px;
    position: relative;
    left: 50px;
    bottom: 0px;

}


.bio {
    display: block;
    color:rgb(54, 54, 54);     
}




    




